version: "3.9"
services:
  php_social_network:
    container_name: php_social_network
    build:
      context: ./
      dockerfile: Dockerfile
    depends_on:
      - php_social_network_db
    volumes:
      - ./:/var/www/html
    ports:
      - 9000:80
    networks:
      - php_social_network_nat

  php_social_network_db:
    container_name: php_social_network_db
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "Kabul@123"
      MYSQL_DATABASE: "php_social_network"
      MYSQL_USER: "admin"
      MYSQL_PASSWORD: "Kabul@123"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d
    ports:
      - "33066:3306"
    networks:
      - php_social_network_nat

  phpmyadmin:
    container_name: php_social_network_phpmyadmin
    image: phpmyadmin/phpmyadmin
    restart: always
    depends_on:
      - php_social_network_db
    environment:
      PMA_HOST: php_social_network_db
      PMA_PORT: 3306
      PMA_USER: admin
      PMA_PASSWORD: "Kabul@123"
      MYSQL_ROOT_PASSWORD: "Kabul@123"
    ports:
      - "8080:80"
    networks:
      - php_social_network_nat

volumes:
  mysql_data:

networks:
  php_social_network_nat:
